.lemonmotion{
    bottom: -3.5rem;
}
@media screen and (max-width:1023px) {
    .lemonmotion{
         bottom: 9rem;
        }
}
@media screen and (max-width:1276px) {
.motionlemon{
    margin-top: 30px;
}}
@media screen and (max-width:767px) {
    .lemonmotion{
        bottom:  -3.5rem;
       }
}